@model List<Category >


<div class="card shadow border mt-4">
	<div class="card-header bg-dark bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Category  list</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">

		<div class="container">
			<div class="row">

				<div class="col-12 text-end">
					<a asp-controller="Category" asp-action="Upsert" class="btn btn-primary">
						<i class="bi bi-plus"></i> Create new Category 
					</a>
				</div>
			</div>
		</div>
		<table id="dataTable" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
		</table>

	</div>
</div>


@section Scripts {
	<script src="~/js/category.js"></script>
}