@model ProductVM

<div class="card shadow border mt-4 mb-5">
	<div class="card-header bg-dark bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">@(Model.Product.Id!=0?"Update":"Create") product</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" id="productForm" enctype="multipart/form-data">
            
            <input asp-for="Product.Id" hidden />
            <input asp-for="Product.ImageURL" id="productImage" hidden />

           <div class="row">
               <div class="col-10">
                    <div class="border p-3 mt-4">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Name" class="form-control border-0 shadow" />
                            <label asp-for="Product.Name" class="ms-2"></label>
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow textarea" maxlength="5000"></textarea>
                        </div>



                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Weight" class="form-control border-0 shadow" />
                            <label asp-for="Product.Weight" class="ms-2"></label>
                            <span asp-validation-for="Product.Weight" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Price" class="form-control border-0 shadow" />
                            <label asp-for="Product.Price" class="ms-2"></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>-select Category -</option>
                            </select>
                            <label asp-for="Product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" id="fileInput" name="file" class="form-control border-0 shadow" />
                            <label for="fileInput" class="ms-2">Choose Image</label>
                        </div>

                        <div id="image-container" class="mt-3">
                            <img id="image" src="@Model.Product.ImageURL" alt="Image to crop" style="max-width: 100%;" />
                        </div>

                        <div class="row mt-3">
                            @if (Model.Product.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary col-6">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary col-6">Create</button>
                            }
                            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary col-6">Back to list</a>
                        </div>
                    </div>
               </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageURL" style="width: 100%;" />
                </div>
           </div>
			
		</form>

	</div>
</div>


@section Scripts{
    <script>
          tinymce.init({
          selector: 'textarea',
          plugins: [
            'autolink', 'lists', 'link', 'charmap', 'visualblocks', 'wordcount'
          ],
          toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright | numlist bullist | removeformat',
          menubar: false, // Вимкнення меню
          statusbar: false, // Вимкнення нижнього статусного рядка
        });

    </script>
    <script src="/js/cropper.js"></script>


	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}